doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/jquery/base/all.css')
        block styles
        script(src='/javascripts/jquery-3.3.1.min.js')
        block scripts
    body
        div(class='alert alert-danger' role='alert' style='display: none')
        block content
