body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
td.editable {
  font-weight: bold;
}
form {
  display: inline-block;
  text-align: center;
}
